.ddsmoothmenu{
    float: left;
}

.ddsmoothmenu ul{
    z-index:100;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.ddsmoothmenu ul li{
    position: relative;
    display: inline;
    float: left;
}

.ddsmoothmenu ul li a {
    display: block;
    padding: 0 30px;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    color: #2f2f2f;	
    text-decoration: none;
    outline: none;
    text-align: center;
}

* html .ddsmoothmenu ul li a{
    display: inline-block;
}

.ddsmoothmenu ul li a.selected, .ddsmoothmenu ul li a:hover { 
    color: #fff;
    background: #2f2f2f;
}

.ddsmoothmenu ul li ul {
    position: absolute;
    left: 0;
    padding: 10px 0 0;
    display: none; 
    visibility: hidden;
    background: #313131;
    border-bottom: 4px solid #000
}

.ddsmoothmenu ul li ul li{
    display: list-item;
    float: none;
}

.ddsmoothmenu ul li ul li ul{
    top: 0;
}

.ddsmoothmenu ul li ul li a{
    font-weight: 400;
    width: 130px; 
    height: 30px;
    padding: 0 30px;
    line-height: 30px;
    font-size: 11px;	
    text-align: left;
    background: none;
    color: #ccc;
    border-bottom: 1px solid #222;
    border-top: 1px solid #444;
}

.ddsmoothmenu ul li ul li a.selected, .ddsmoothmenu ul li ul li a:hover {
    color: #fff;
    font-weight: 700;
    background: #222;
}

* html .ddsmoothmenu{height: 1%;}


.downarrowclass{
    position: absolute;
    top: 12px;
    right: 7px;
}

.rightarrowclass{
    position: absolute;
    top: 6px;
    right: 5px;
}


.ddshadow{
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
}

.toplevelshadow{
    opacity: 0.5;
}


