/*Box-Login*/
.box-login {
	width: 300px;
	padding: 20px;
	margin: 0 auto;
	text-align: center;
}
.box-login h3 {
	color: black;
}

.box-login input[type = "text"], .box-login input[type="password"] {
	border: 0px;
	background: none;
	margin: 20px auto;
	display: block;
	text-align: center;
	border: 2px solid #00cec9;
	padding: 10px 10px;
	width: 200px;
	border-radius: 20px;
	outline: none;
}

.box-login input[type = "submit"] {
	border: 0px;
	background: none;
	margin: 20px auto;
	display: block;
	text-align: center;
	border: 2px solid #0984e3;
	padding: 10px 10px;
	width: 100px;
	border-radius: 20px;
	outline: none;
	cursor: pointer;
}

.box-login input[type = "submit"]:hover {
	background: #0984e3;
	color: white;
}
